<!DOCTYPE html>
<html>
  <head>
    <title>Testabulous: {{res.name}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .text-primary {
        color: rgb(87, 13, 248);
      }
    </style>
  </head>
  <body class="mb-16">
    <header class="sticky w-full grow-0 shrink-0 h-16 z-10 mb-8">
      <nav
        class="z-10 w-full border-b border-black/5 dark:border-white/5 lg:border-transparent"
      >
        <div class="max-w-7xl mx-auto px-8">
          <div
            class="relative w-full flex flex-wrap items-center justify-between gap-6 py-3 md:gap-0 md:py-4"
          >
            <div
              class="relative z-20 flex w-full justify-between"
            >
              <a
                href="/#home"
                aria-label="logo"
                class="flex items-center space-x-2"
              >
                <div
                  aria-hidden="true"
                  class="flex space-x-1 text-2xl font-bold"
                >
                  <span class="text-primary">&lt;</span>
                  <span>/</span>
                  <span class="text-primary">&gt;</span>
                </div>
                <span class="text-2xl font-bold text-gray-900 dark:text-white">testabulous</span>
              </a>
            <div
              id="navlinks"
              class="invisible absolute top-full left-0 z-20 w-full origin-top-right translate-y-1 scale-90 flex-col flex-wrap justify-end gap-6 rounded-3xl border border-gray-100 bg-white p-8 opacity-0 shadow-2xl shadow-gray-600/10 transition-all duration-300 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none lg:visible lg:relative lg:flex lg:w-7/12 lg:translate-y-0 lg:scale-100 lg:flex-row lg:items-center lg:gap-0 lg:border-none lg:bg-transparent lg:p-0 lg:opacity-100 lg:shadow-none"
            >
              <div
                class="w-full text-gray-600 dark:text-gray-200 lg:w-auto lg:pr-4 lg:pt-0"
              >
                <ul
                  class="flex flex-col gap-6 tracking-wide lg:flex-row lg:gap-0 lg:text-sm"
                >
                  <li id="sub-auth-action">
                    <a
                      href="https://testabulous.com/dashboard/"
                      class="flex gap-2 font-semibold text-gray-700 transition hover:text-primary dark:text-white dark:hover:text-white md:px-4"
                    >
                      <span>Dashboard</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="mt-12 lg:mt-0" id="main-auth-action" hx-get="/components/auth/main" hx-trigger="load">
                <a
                  href="/profile"
                  class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                >
                  <span class="relative text-sm font-semibold text-white">Profile</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <section class="max-w-7xl mx-auto px-8 mb-8">
      <h1 class="text-2xl mb-8">{{res.name}}</h1>
      <div>
        <h2 class="text-lg text-bold mb-4">Overall summary</h2>
        <table>
          <tr>
            <td colspan="2">Tests:</td>
            <td>{{testCount}}</td>
          </tr>
          <tr>
            <td colspan="2">Duration:</td>
            <td>{{res.duration}}ms</td>
          </tr>
          <tr class="text-green-700">
            <td>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                <path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
              </svg>
            </td>
            <td class="w-32">Passed:</td>
            <td>{{res.passCount}}</td>
          </tr>
          <tr class="text-red-700">
            <td>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
              </svg>
            </td>
            <td>Failed:</td>
            <td>{{res.failCount}}</td>
          </tr>
          <tr class="text-red-700">
            <td>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                <path fill-rule="evenodd" d="M6.701 2.25c.577-1 2.02-1 2.598 0l5.196 9a1.5 1.5 0 0 1-1.299 2.25H2.804a1.5 1.5 0 0 1-1.3-2.25l5.197-9ZM8 4a.75.75 0 0 1 .75.75v3a.75.75 0 1 1-1.5 0v-3A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
              </svg>
            </td>
            <td>Errors:</td>
            <td>{{res.errorCount}}</td>
          </tr>
          <tr class="text-yellow-700">
            <td>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                <path fill-rule="evenodd" d="M6.701 2.25c.577-1 2.02-1 2.598 0l5.196 9a1.5 1.5 0 0 1-1.299 2.25H2.804a1.5 1.5 0 0 1-1.3-2.25l5.197-9ZM8 4a.75.75 0 0 1 .75.75v3a.75.75 0 1 1-1.5 0v-3A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
              </svg>
            </td>
            <td>Warnings:</td>
            <td>{{res.warnCount}}</td>
          </tr>
          <tr class="text-blue-700">
            <td>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4">
                <path fill-rule="evenodd" d="M3.5 9.75A2.75 2.75 0 0 1 6.25 7h5.19L9.22 9.22a.75.75 0 1 0 1.06 1.06l3.5-3.5a.75.75 0 0 0 0-1.06l-3.5-3.5a.75.75 0 1 0-1.06 1.06l2.22 2.22H6.25a4.25 4.25 0 0 0 0 8.5h1a.75.75 0 0 0 0-1.5h-1A2.75 2.75 0 0 1 3.5 9.75Z" clip-rule="evenodd" />
              </svg>
            </td>
            <td>Skipped:</td>
            <td>{{res.skipCount}}</td>
          </tr>
        </table>
      </div>
    </section>
    {{#each res.specs as |spec|}}
      <section class="max-w-7xl mx-auto px-8 mb-8">
        <div>
          <h2 class="text-lg text-bold mb-4">Test suite: {{spec.name}}</h2>
        </div>
        {{#each spec.tests as |test|}}
          <div class="ml-8 mb-4">
            {{{renderName test}}}
          </div>
          {{#each test.steps as |step|}}
            <div class="ml-16 mb-4">
              <div class="flex flex-row items-center gap-2">
                {{{renderName step}}}
                {{#if step.screenshot}}
                  <a href="file://{{step.screenshot}}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.375 19.5h17.25m-17.25 0a1.125 1.125 0 0 1-1.125-1.125M3.375 19.5h1.5C5.496 19.5 6 18.996 6 18.375m-3.75 0V5.625m0 12.75v-1.5c0-.621.504-1.125 1.125-1.125m18.375 2.625V5.625m0 12.75c0 .621-.504 1.125-1.125 1.125m1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125m0 3.75h-1.5A1.125 1.125 0 0 1 18 18.375M20.625 4.5H3.375m17.25 0c.621 0 1.125.504 1.125 1.125M20.625 4.5h-1.5C18.504 4.5 18 5.004 18 5.625m3.75 0v1.5c0 .621-.504 1.125-1.125 1.125M3.375 4.5c-.621 0-1.125.504-1.125 1.125M3.375 4.5h1.5C5.496 4.5 6 5.004 6 5.625m-3.75 0v1.5c0 .621.504 1.125 1.125 1.125m0 0h1.5m-1.5 0c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125m1.5-3.75C5.496 8.25 6 7.746 6 7.125v-1.5M4.875 8.25C5.496 8.25 6 8.754 6 9.375v1.5m0-5.25v5.25m0-5.25C6 5.004 6.504 4.5 7.125 4.5h9.75c.621 0 1.125.504 1.125 1.125m1.125 2.625h1.5m-1.5 0A1.125 1.125 0 0 1 18 7.125v-1.5m1.125 2.625c-.621 0-1.125.504-1.125 1.125v1.5m2.625-2.625c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125M18 5.625v5.25M7.125 12h9.75m-9.75 0A1.125 1.125 0 0 1 6 10.875M7.125 12C6.504 12 6 12.504 6 13.125m0-2.25C6 11.496 5.496 12 4.875 12M18 10.875c0 .621-.504 1.125-1.125 1.125M18 10.875c0 .621.504 1.125 1.125 1.125m-2.25 0c.621 0 1.125.504 1.125 1.125m-12 5.25v-5.25m0 5.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125m-12 0v-1.5c0-.621-.504-1.125-1.125-1.125M18 18.375v-5.25m0 5.25v-1.5c0-.621.504-1.125 1.125-1.125M18 13.125v1.5c0 .621.504 1.125 1.125 1.125M18 13.125c0-.621.504-1.125 1.125-1.125M6 13.125v1.5c0 .621-.504 1.125-1.125 1.125M6 13.125C6 12.504 5.496 12 4.875 12m-1.5 0h1.5m-1.5 0c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125M19.125 12h1.5m0 0c.621 0 1.125.504 1.125 1.125v1.5c0 .621-.504 1.125-1.125 1.125m-17.25 0h1.5m14.25 0h1.5" />
                    </svg>
                  </a>
                {{/if}}
                {{#if (isFailed step)}}
                  <div class="ml-8">
                    <pre>{{step.message}}</pre>
                  </div>
                {{/if}}
              </div>
            </div>
          {{/each}}
        {{/each}}
      </section>
    {{/each}}
  </body>
</html>
